<%= form.fields_for 'questions', Subdomain::Question.new do |question_fields| %>
  <div class="bg-light shadow" data-aos="fade-right" data-aos-delay="30" data-aos-offset="600">
    <div class="mt-4 d-flex p-2 mb-4 justify-content-center align-items-center bg-success">
      <h1 class="text-dark p-1">QUESTION - <%= question_fields.index + 1 %></h1>
    </div>
    <div class="mb-3 p-3 bg-light">
      <%= question_fields.label :question, class: 'form-label' %>
      <%= question_fields.text_field :question, class: 'form-control', required: true %>
    </div>

    <div class="mb-3 p-3 bg-light">
      <%= question_fields.label :weight, class: 'form-label' %>
      <%= question_fields.text_field :weight, class: 'form-control', required: true %>
    </div>

    <div class="mb-3 p-3 bg-light">
      <%= question_fields.fields_for :options do |options_fields| %>
        <%= options_fields.label :a, class: 'form-label' %>
        <%= options_fields.text_field :a, class: 'form-control', required: true %>

        <%= options_fields.label :b, class: 'form-label' %>
        <%= options_fields.text_field :b, class: 'form-control', required: true %>

        <%= options_fields.label :c, class: 'form-label' %>
        <%= options_fields.text_field :c, class: 'form-control', required: true %>

        <%= options_fields.label :d, class: 'form-label' %>
        <%= options_fields.text_field :d, class: 'form-control', required: true %>
      <% end %>
    </div>

    <div class="mb-3 p-3 bg-light">
      <%= question_fields.label :correct, class: 'form-label' %>
      <%= question_fields.select :correct, options_for_select([['Option A', 'A'], ['Option B', 'B'], ['Option C', 'C'], ['Option D', 'D']]), { prompt: 'Select Correct Answer' }, class: 'form-select', required: true %>
    </div>
  </div>
<% end %>
